<html>
   <head>
      <title>Hello Git</title>
   </head>
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
   <script>
      var app = angular.module("first",['ngMaterial']);
      app.controller("firstCtrl", function($scope,$mdToast){

        var last = {
      bottom: false,
      top: true,
      left: false,
      right: true
    };

  $scope.toastPosition = angular.extend({},last);

  $scope.getToastPosition = function() {
    sanitizePosition();

    return Object.keys($scope.toastPosition)
      .filter(function(pos) { return $scope.toastPosition[pos]; })
      .join(' ');
  };

  function sanitizePosition() {
    var current = $scope.toastPosition;

    if ( current.bottom && last.top ) current.top = false;
    if ( current.top && last.bottom ) current.bottom = false;
    if ( current.right && last.left ) current.left = false;
    if ( current.left && last.right ) current.right = false;

    last = angular.extend({},current);
  }

  var showSimpleToast = function(message) {
    var pinTo = $scope.getToastPosition();

    $mdToast.show(
      $mdToast.simple()
        .textContent(message)
        .position(pinTo )
        .hideDelay(3000)
    );
  };


      $scope.msg="Angular - Todo App ";
      $scope.notesData=[{"note":"John"},{"note":"Doe"}];

      $scope.popNote = function (indexValue){
      $scope.notesData.splice(indexValue,1);
      showSimpleToast('Note Removed Successfully');
      };

      $scope.pushNote = function(noteValue){

      if(noteValue==''||noteValue==undefined){
      alert('Please enter note to add ');
      } else {

      if($scope.notesData.some(function(o) {return o["note"]===noteValue;})==true){
      alert('Note already exists');
      } else {
      var note={"note":noteValue};
      //$scope.checkDuplicate(noteValue);
      $scope.notesData.push(note);
      showSimpleToast('Note Added Successfully');
      $scope.addNote='';
      }

      }

      };

      $scope.checkDuplicate = function(vale){
      //alert($scope.notesData.indexOf(vale));
      alert($scope.notesData.some(function(o) {return o["note"]===vale;}));
      return;
      }

      }
      )

   </script>
   <style>
      table,td,tr,th{
      border:2px solid black;
      text-align:center;
      th{
      color:green;
      }
   </style>
   <body ng-app="first">
      <div ng-controller="firstCtrl" align="center">
      <h1>   {{msg}}</h1>
         <br><br>
         <table ng-hide="!notesData.length">
            <th>S.No</th>
            <th>Note</th>
            <th>Actions</th>
            <tr ng-repeat="x in notesData">
               <td>{{$index+1}}</td>
               <td>{{x.note}}</td>
               <td><button name="nd" value="Delete Note" ng-click="popNote($index)">Delete Note</button></td>
            <tr>
               <td></td>
               <td><textarea ng-model="addNote"></textarea></td>
               <td><input type="button"  value="Add New Note" ng-click="pushNote(addNote)" ng-disabled="!addNote"></input></td>
            </tr>
            </tr>
         </table>
         <div ng-hide="notesData.length">There are no more Notes available, please click on add note for adding a new note<br><textarea ng-model="addNote"></textarea>
            <input type="button"  value="Add New Note" ng-click="pushNote(addNote)" ng-disabled="!addNote"></input>
         </div>
         <br/><br/>
      </div>
   </body>
</html>
